@import "tailwindcss";

@layer base {
  body {
    @apply mx-auto;
  }

  /* 400 14px */
  h6 {
    @apply text-sm font-normal;
  }

  /* 500 14px */
  h5 {
    @apply text-sm font-medium;
  }

  h4 {
    @apply font-extrabold text-xl text-[#0E1422];
  }

  /* 600 16px */
  h3 {
    @apply font-semibold text-base;
  }

  h2 {
    @apply font-semibold text-[32px];
  }

  h1 {
    @apply font-bold text-2xl;
  }

  /* 500 12px */
  p {
    @apply text-xs font-medium;
  }

  button {
    @apply cursor-pointer w-fit text-white bg-[#0E1422] py-3 px-6 rounded-sm;
  }

  input {
    @apply border border-[#E6E7E8] rounded-sm py-3 px-6 w-full;
  }

  /* li hover bg  */
  .side-menu-option {
    @apply flex px-6 py-2 gap-2.5 cursor-pointer hover:bg-offWhite rounded-lg text-vividBlack hover:text-[#0e1422] transition-all duration-300 ease-in-out;
  }
}

@theme {
  --color-primary: #4078ff;
  --color-neutral: #0e1422;
  --color-semantic: #306cef;
  --color-white: #ffffff;
  --color-offWhite: #f6f6f6;
  --color-lightBlue: #e9e9eb;
  --color-borderColor: #e6e7e8;
  --color-slateBlack: #474b57;
  --color-slateGrey: #878a92;
  --color-vividBlack: #5c5f6a;
  --color-lightBtnBorder: #b6b7bc;
}
